<!DOCTYPE html>
<html>
  <head>
    <title>Concerto Player</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= vite_client_tag %>
    <%= vite_javascript_tag 'player' %>
    <style>
      html, body, #screen {
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <div id="screen" data-api-url="<%= frontend_screen_url(@screen.id, format: :json) %>"></div>
  </body>
</html>